.myPhoto {
    width: 350px;
    height: 280px;
    object-fit: cover;
    display: block;
}

.photoContainer {
    position: relative;
    width: 350px;
    height: 280px;
}

.blurBottom {
    position: absolute;
    bottom: 0;  
    left: 0;
    width: 100%;
    height: 150px; 
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
    filter: blur(8px);
    z-index: 1;
}

.myNameIntro {
    position: absolute;
    bottom: 10px;
    left: 10px; 
    font-size: 28px; 
    color: #22aeff;
    font-weight: 900;
    z-index: 2;  
    cursor: pointer;
}
